<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']"> Save Money</a>

  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/retrieve']">Retrieve Money</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/operations']">My Operations</a>
      </li>
    </ul>
  </div>
</nav>
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto" *ngIf="customer">
        <p class="lead text-muted">
          {{ customer.firstname }} {{ customer.lastName }}
        </p>
        <p class="lead text-muted">Balance :{{ customer.account.balance }}</p>
        <p class="lead text-muted">
          Date: {{ customer.account.date | date: "dd/MM/yyyy" }}
        </p>
      </div>
    </div>
    <div class="album py-5 bg-light">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </section>
</main>
